<div style="height:100%;width:100%;display:flex;flex-direction:column">
  <div>
    <div *ngIf="! imapClientService.isLoggedIn()">
      <p-dialog header="Setup" [(visible)]="showSetup">
        <div> <label>host: </label> <input pInputText [(ngModel)]="imapClientService.accountData.host"> </div>
        <div> <label>port: </label> <input pInputText [(ngModel)]="imapClientService.accountData.port"> </div>
        <div> <label>user: </label> <input pInputText [(ngModel)]="imapClientService.accountData.user"> </div>
        <div> <label>pass: </label> <input pInputText [(ngModel)]="imapClientService.accountData.pass"> </div>
      </p-dialog>
      <button pButton (click)="imapClientService.login()" icon="fa-sign-in" label="login"></button>
      <button pButton (click)="toggleSetup()" icon="fa-sliders" label="setup"></button>
    </div>
    <div *ngIf="imapClientService.isLoggedIn()">
      <button pButton (click)="imapClientService.logout()" icon="fa-sign-out" label="logout"></button>
      <button pButton (click)="imapClientService.updateMailboxes()" icon="fa-refresh" label="refresh"></button>
      <button pButton (click)="imapClientService.updateAll()" icon="fa-refresh" label="refresh all"></button>
    </div>
  </div>
  <div style="width:100%;flex:1 1 50%">
    <div style="height:100%;width:100%;display:flex;flex-direction:row;justify-content:center;align-items:stretch;align-content:stretch">
      <div>
        <folder-tree (mailboxSelected)="selectMailbox($event)"></folder-tree>
      </div>
      <div style="flex:1 1 0">
        <message-list [mailbox]="currentMailbox"></message-list>
      </div>
    </div>
  </div>
</div>
