<h1>koresp - experimental email client</h1>
<div *ngIf="! imapClientService.isLoggedIn()">
  <div> <label>host: </label> <input [(ngModel)]="imapClientService.accountData.host" placeholder="host"> </div>
  <div> <label>port: </label> <input [(ngModel)]="imapClientService.accountData.port" placeholder="port"> </div>
  <div> <label>user: </label> <input [(ngModel)]="imapClientService.accountData.user" placeholder="user"> </div>
  <div> <label>pass: </label> <input [(ngModel)]="imapClientService.accountData.pass" placeholder="pass"> </div>
  <button (click)="imapClientService.login()">login</button>
</div>
<div *ngIf="imapClientService.isLoggedIn()">
  <button (click)="imapClientService.logout()">logout</button>
  <button (click)="imapClientService.updateMailboxes()">update</button>
  <button (click)="imapClientService.updateAll()">update all</button>
</div>
<folder-view></folder-view>
