<h1>koresp - experimental email client</h1>
<div *ngIf="! imapClientService.isLoggedIn()">
  <div> <label>host: </label> <input [(ngModel)]="imapClientService.accountData.host" placeholder="host" pInputText> </div>
  <div> <label>port: </label> <input [(ngModel)]="imapClientService.accountData.port" placeholder="port" pInputText> </div>
  <div> <label>user: </label> <input [(ngModel)]="imapClientService.accountData.user" placeholder="user" pInputText> </div>
  <div> <label>pass: </label> <input [(ngModel)]="imapClientService.accountData.pass" placeholder="pass" pInputText> </div>
  <button (click)="imapClientService.login()">login</button>
</div>
<div *ngIf="imapClientService.isLoggedIn()">
  <button (click)="imapClientService.logout()">logout</button>
  <button (click)="imapClientService.updateMailboxes()">⟳</button>
  <button (click)="imapClientService.updateAll()">[⟳⟳]</button>
</div>
<account></account>
