<p-tree [value]="treeData"
             selectionMode="multiple" 
             [(selection)]="selectedFolders"
             (onNodeSelect)="onSelectFolders($event)"
             [style]="{width:'100%',height:'100%',overflow:'auto'}">
    <template let-node pTemplate="default">
        {{ node.data.name }}
        <button pButton (click)="imapClientService.updateMailbox(node.data.path)"
                [disabled]="!imapClientService.isLoggedIn()"
                icon="fa-refresh" ></button>
    </template>
</p-tree>
