<p-dataTable [value]="tableData"
             selectionMode="multiple"
             [(selection)]="selectedMessages"
             (onNodeSelect)="onSelectMessages($event)"

             reorderableColumns

             sortMode="multiple"
             scrollable="true"
             scrollHeight="500px"

             [style]="{width:'100%',height:'100%',overflow:'auto','font-size':'0.8em','white-space':'nowrap'}">

    <header>
      <p-toolbar>
        <div class="ui-toolbar-group-right">
            {{ limitMessageCount }} / {{ totalMessageCount}}
            <p-slider [(ngModel)]="limitMessageCount" [max]="totalMessageCount" [style]="{'width':'100px'}"></p-slider>
        </div>
      </p-toolbar>
    </header>

    <p-column header="Subject" field="envelope.subject" sortable="true" [style]="{'text-overflow':'ellipsis','width':'50%'}">
    </p-column>
    <p-column header="From" field="envelope.from" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <addresses-view [addresses]="data.envelope.from"></addresses-view>
        </template>
    </p-column>
    <p-column header="To" field="envelope.to" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <addresses-view [addresses]="data.envelope.to"></addresses-view>
        </template>
    </p-column>
    <p-column header="Date" field="envelope.date" sortable="true" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <date-view [rfc2822]="data.envelope.date"></date-view>
        </template>
    </p-column>

</p-dataTable>
