<p-dataTable [value]="tableData"
             selectionMode="multiple"
             [(selection)]="selectedMessages"
             (onNodeSelect)="onSelectMessages($event)"

             resizableColumns="true"
             reorderableColumns="true"

             sortMode="multiple"

             [style]="{width:'100%',height:'100%',overflow:'auto','font-size':'0.8em'}">

    <!--header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
        </div>
    </header-->

    <p-column header="Subject" field="envelope.subject" sortable="true" [style]="{'text-overflow':'ellipsis'}">
    </p-column>
    <p-column header="From" field="envelope.subject" sortable="true" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <span class="ui-cell-data">{{ formatAddrList(data.envelope.from) }}</span>
        </template>
    </p-column>
    <p-column header="To" field="envelope.to" sortable="true" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <span class="ui-cell-data">{{ formatAddrList(data.envelope.to) }}</span>
        </template>
    </p-column>
    <p-column header="Subject" field="envelope.subject" sortable="true" [style]="{'text-overflow':'ellipsis'}">
        <template let-col let-data="rowData" pTemplate="body">
            <span class="ui-cell-data">{{ formatDate(data.envelope.date) }}</span>
        </template>
    </p-column>

</p-dataTable>
