<p-dataTable [value]="tableData"
             selectionMode="multiple" 
             [(selection)]="selectedMessages"
             (onNodeSelect)="onSelectMessages($event)"

             resizableColumns="true"
             reorderableColumns="true"
            
             sortMode="multiple"

             [style]="{width:'100%',height:'100%',overflow:'auto','font-size':'0.8em'}">

    <header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
        </div>
    </header>

    <p-column *ngFor="let col of cols"
              [header]="col.header"
              [field]="col.field"  
              [sortable]="true"
              [style]="{'text-overflow':'ellipsis'}"></p-column>

</p-dataTable>
